a:link
{ text-decoration: none;
  color: black;
  background-color: white }

a:visited
{ text-decoration: none;
  color: black;
  background-color: white }

a:hover
{ text-decoration: underline;
  color: red;
  background-color: white }

a:active
{ text-decoration: underline;
  color: red;
  background-color: white }

p
{ margin-top: 4px;
  font-size: 14pt; }

h1
{ font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 26pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4px; }

#credits
{ margin-top: 10px;
  text-align:right;
  font-size: 9pt;
}
